<style>
    .detailInfo li{
        list-style-type: none;
    }
    .detailView div.thumbnail
    {
        text-align: center;
    }

    .detailInfo span.label {
        font-weight: bold;
        display: inline-block;
        width: 100px;
    }
    .detailInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    div.detailInfo .overview {
        grid-column: 1/ span 2;
    }
    div.detailInfo .overview a{
        color: blue;
    }
    div.detailInfo .overview .label{
        display: block;
    }


</style>

<div>
    <div class="detailView" data-th-object="${result}">
        <div class="thumbnail">
            <a data-th-href="*{url}">
                <img data-th-src="*{thumbnail}"/>
            </a>

        </div>
        <div class="detailInfo">
            <div><span class="label">작가</span>          <span data-th-name="authors" data-th-text="*{#strings.listJoin(authors,',')}">authors</span> 지음</div>
            <div><span class="label">번역자</span>        <span data-th-name="translators" data-th-text="*{#strings.listJoin(translators,',')}">translators</span> 옮김</div>
            <div><span class="label">출판사</span>        <span data-th-name="publisher" data-th-text="*{#strings.listJoin(publisher,',')}">publisher</span>펴냄</div>
            <div><span class="label">도서 정가</span>     <span data-th-name="price" data-th-text="*{#numbers.formatCurrency(price)}">price</span></div>
            <div><span class="label">도서출판일자</span>  <span data-th-name="datetime" data-th-text="*{#strings.substring(datetime,0,10)}">datetime</span></div>
            <div><span class="label">도서판매가</span>    <span data-th-name="salePrice" data-th-text="*{#numbers.formatCurrency(salePrice)}">sale_price</span></div>
            <div><span class="label">도서상태</span>      <span data-th-name="status" data-th-text="*{status}">status</span></div>
            <div class="overview"><span class="label">책소개</span>       <span data-th-name="contents" data-th-utext="*{contents}">status</span></div>
            <div class="overview"><span data-th-name="url"> <a data-th-href="*{url}">바로가기</a></span></div>
        </div>
    </div>
</div>
