<!--
책검색 결과 정보 List 로 표현
-->
<style type="text/css">
    table.list {
        width: 100%;
        padding: 0 5px;
    }

    table.list button {
        display: inline-block;
        padding: 2px 20px;
        margin: 8px 0;
        border: 1px solid #cccccc;
        cursor: pointer;
        font-weight: bold;
        background-color: #f3f3f3;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
        border-radius: 2px;
    }

    table.list .title {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.4rem;
        cursor: pointer;
    }
    table.list .title a {
        color: black;
    }

    table.list div.thumbnail {
        padding: 5px 10px;
    }

    table.list td ul {
        padding: 0;
        margin: 0;
        display: block;
    }

    table.list td ul li {
        padding: 0 5px;
        margin: 0;
        display: inline-block;
        border-left: 1px solid #cccccc;
        list-style-type: none;
    }

    table.list td ul li:first-child {
        border-left: none;
    }

    ul.page_area {
        display: block;
        margin: auto;
    }

    ul.page_area li {
        display: inline-block;
        list-style-type: none;
    }

    ul.page_area li .currentPage {
        font-weight: bold;
    }

    ul.page_area li .prev,
    ul.page_area li .next {
        cursor: pointer;
    }

</style>
<script type="text/javascript">
    $.extend(srchBook, {
        goDetail: function (obj) {
            console.log("url: " + obj.href);
            console.log("title: " + $(obj).attr('alt'));
            $.alert({
                boxWidth: '800px',
                title: $(obj).attr('alt'),
                content: 'url:' + obj.href
            });
            return false;
        }
    });

    $(function () {

        /*페이지 이동 관련: prev */
        $('ul.page_area li>.prev').click(function (e) {
            e.preventDefault();
            var curPageNo = $('ul.page_area li .currentPage').text;
            if (curPageNo > 1) {
                srchBook.goPage(curPageNo - 1);
            }
            else {
                $.alert("첫 페이지 입니다. ");
            }
        });
        /*페이지 이동 관련*/
        $('ul.page_area li>.next').click(function (e) {
            e.preventDefault();
            var curPageNo = $('ul.page_area li .currentPage').text;
            log.
            srchBook.goPage(curPageNo + 1);
        });
    });
</script>

<div>
    <h3> 검색 결과</h3>
</div>
<!--검색 결과가 없는 경우 리스트 출력 -->
<div data-th-if="${#lists.isEmpty(result.documents)}">
    <h3>검색 결과가 없습니다.</h3>
</div>
<!--검색 결과 List-->
<div data-th-unless="${#lists.isEmpty(result.documents)}">
    <div style="width: 100%; text-align: center">
        <ul class="page_area">
            <li><span class="prev">Prev</span></li>
            <li><span class="currentPage" data-th-text="${page}"></span></li>
            <li data-th-unless="${result.meta.isEnd}"><span class="next">Next</span></li>
        </ul>
    </div>
    <table class="list">
        <colgroup>
            <col width="120px">
            <col width="*">
            <col width="120px">

        </colgroup>
        <tbody>
        <tr data-th-each="item : ${result.documents}">
            <td>
                <div class="thumbnail">
                    <a onclick="return srchBook.goDetail(this);"
                       data-th-href="@{'/book/detail/' + ${#strings.arraySplit(item.isbn,' ')[0]}}">
                        <img data-th-src="${item.thumbnail}"
                             data-th-alt="${item.title}"/>
                    </a>
                </div>
            </td>
            <td>
                <div class="title">
                    <a onclick="return srchBook.goDetail(this)"
                       data-th-href="@{'/book/detail/' + ${#strings.arraySplit(item.isbn,' ')[0]}}"
                       data-th-alt="${item.title}"
                       data-th-utext="${item.title}">
                        Title
                    </a>
                </div>
                <div class="book-summary">
                    <ul>
                        <li data-th-unless="${#lists.isEmpty(item.authors)}">
                            <span data-th-name="authors"
                                  data-th-text="${#strings.listJoin(item.authors, ',')}">authors</span>
                            저
                        </li>
                        <li data-th-unless="${#lists.isEmpty(item.translators)}">
                            <span data-th-name="translators"
                                  data-th-text="${#strings.listJoin(item.translators, ',')}">translators</span>
                            역
                        </li>
                        <li data-th-unless="${#lists.isEmpty(item.publisher)}">
                            <span data-th-name="publisher"
                                  data-th-text="${item.publisher}">publisher</span>
                        </li>
                    </ul>
                </div>
                <div style="display: block"><span data-th-text="${item.price}">authors</span>원</div>
                <div style="display: block">isbn: <span data-th-text="${item.isbn}">isbn</span></div>
            </td>
            <td>
                <button class="bookmark">북마크</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<div data-th-text="${result.meta.totalCount}"> 0 건 </div>-->
</div>
