<!--
책검색 결과 정보 List 로 표현
- 코딩 테스트 이므로 사용되는 Style, Script 등을 한파일에 넣어 둠

-->
<style type="text/css">

    /*리스트 전체 적용*/
    table.list {
        width: 100%;
        padding: 0 5px;
    }

    table.list button {
        display: inline-block;
        padding: 2px 20px;
        margin: 8px 0;
        border: 1px solid #cccccc;
        cursor: pointer;
        font-weight: bold;
        background-color: #f3f3f3;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
        border-radius: 2px;
    }

    table.list .title {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.4rem;
    }

    table.list .title a {
        color: black;
    }

    table.list div.thumbnail {
        padding: 5px 10px;
    }

    table.list td ul {
        padding: 0;
        margin: 0;
        display: block;
    }

    table.list td ul li {
        padding: 0 5px;
        margin: 0;
        display: inline-block;
        border-left: 1px solid #cccccc;
        list-style-type: none;
    }

    table.list td ul li .surfix {
        color: #333333;
        font-weight: bold;
    }

    table.list td ul li:first-child {
        border-left: none;
    }

    ul.page_area {
        display: block;
        margin: auto;
    }

    ul.page_area li {
        display: inline-block;
        list-style-type: none;
    }

    ul.page_area li .currentPage {
        font-weight: bold;
    }

    ul.page_area li .prev,
    ul.page_area li .next {
        cursor: pointer;
    }


</style>
<script type="text/javascript">

    $(function () {

        /*페이지 이동 관련: prev */
        $('ul.page_area li .prev').click(function (e) {
            e.preventDefault();
            var curPageNo = parseInt($('#curPageNo').val());
            curPageNo = curPageNo ? curPageNo : 1;

            if (curPageNo > 1) {
                srchBook.goPage(curPageNo - 1);
            }
            else {
                $.alert("첫 페이지 입니다. ");
            }
        });
        /*페이지 이동 관련 next */
        $('ul.page_area li .next').click(function (e) {
            e.preventDefault();
            var curPageNo = parseInt($('#curPageNo').val());
            curPageNo = curPageNo ? curPageNo : 1;

            srchBook.goPage(curPageNo + 1);
        });

        /*팝업 메시지*/
        $('table.list td a.goDetail').click(function (e) {
            e.preventDefault();
            var param = $($(this).closest("tr").find('form')[0]).serializeObject();
            /*form 데이터와 정해진 html(detail.html)과 연결 */
            $.post(this.href, param, function(data){},'html')
                .done(function(data){
                    $.alert({
                        title: param.title,
                        content: data
                    });
                });
        });

        /* 북마크 추가 */
        $("button.bookmark.add").click( function (e) {
            e.preventDefault();
            var param = $(this).closest("form").serializeObject();
            $.post('/api/bookmark/add', param)
                .done(function (result) {
                    console.log(result)
                    var title = (result.isSuccess)? "성공!":"실패!!!";
                    $.alert({
                        title: title,
                        content: result.message
                    });
                })
                .fail(function () {
                    $.alert( "북마크 등록에 실패하였습니다.")
                });

        });
    });
</script>

<div>
    <h3> 검색 결과</h3>
</div>
<!--검색 결과가 없는 경우 리스트 출력 -->
<div data-th-if="${#lists.isEmpty(result.documents)}">
    <h3>검색 결과가 없습니다.</h3>
</div>
<!--검색 결과 List-->
<div data-th-unless="${#lists.isEmpty(result.documents)}">
    <div style="width: 100%; text-align: center">
        <!-- 단순한 페이징 기능만 부여 -->
        <ul class="page_area">
            <input type="hidden" id="curPageNo" data-th-value="${page}"/>
            <li data-th-if="${1 < page}"><span class="prev">Prev</span></li>
            <li><span class="currentPage" data-th-text="${page}"></span></li>
            <li data-th-unless="${result.meta.isEnd}"><span class="next">Next</span></li>
        </ul>
    </div>
    <table class="list">
        <colgroup>
            <col width="120px">
            <col width="*">
            <col width="120px">

        </colgroup>
        <tbody>
        <tr data-th-each="item, iterStat : ${result.documents}" data-th-attr="data-row=${iterStat.index}">
            <td>
                <!--ISBN이 있는 경우에만 이미지 클릭이 되도록 Thymeleaf 를 이용해서 만듬 -->
                <div class="thumbnail" data-th-unless="${#strings.isEmpty(item.isbn)}">
                    <a class="goDetail" data-th-href="@{/book/detail}">
                        <img data-th-src="${item.thumbnail}"
                             data-th-alt="row_ + ${iterStat.index}"/>
                    </a>
                </div>
                <div class="thumbnail" data-th-if="${#strings.isEmpty(item.isbn)}" data-th-utext="${item.title}">
                    <img data-th-src="${item.thumbnail}"
                         data-th-alt="row_ + ${iterStat.index}"/>
                </div>
            </td>
            <td>
                <!--ISBN이 있는 경우에만 제목 클릭이 되도록 Thymeleaf 를 이용해서 만듬 -->
                <div class="title" data-th-unless="${#strings.isEmpty(item.isbn)}">
                    <a class="goDetail" data-th-href="@{/book/detail}">
                        <span data-th-utext="${item.title}" data-th-name="title">Title</span>
                    </a>
                </div>
                <div class="title" data-th-if="${#strings.isEmpty(item.isbn)}" data-th-utext="${item.title}">
                    Title
                </div>
                <div class="book-summary">
                    <ul>
                        <li data-th-unless="${#lists.isEmpty(item.authors)}">
                            <span data-th-text="${#strings.listJoin(item.authors, ',')}">authors</span>
                            <span class="surfix">저</span>
                        </li>
                        <li data-th-unless="${#lists.isEmpty(item.translators)}">
                            <span data-th-text="${#strings.listJoin(item.translators, ',')}">translators</span>
                            <span class="surfix">역</span>
                        </li>
                        <li data-th-unless="${#lists.isEmpty(item.publisher)}">
                            <span data-th-text="${item.publisher}">publisher</span>
                            <span class="surfix">펴냄</span>
                        </li>
                    </ul>
                </div>
                <div style="display: block" class="price">
                    <ul>
                        <!-- 화폐 표시 사용 -->
                        <li>정가: <span data-th-remove="tag"
                                      data-th-text="${#numbers.formatCurrency(item.price)}"> 0 </span>
                        </li>
                        <li>판매가: <span data-th-remove="tag"
                                       data-th-text="${#numbers.formatCurrency(item.salePrice)}"> 0 </span></li>
                    </ul>
                </div>
            </td>
            <td>
                <form action="#" method="post" data-th-object="${item}">
                    <input type="hidden" name="title" data-th-value="*{title}">
                    <input type="hidden" name="authors" data-th-value="*{#strings.listJoin(authors,',')}">
                    <input type="hidden" name="translators" data-th-value="*{#strings.listJoin(translators,',')}">
                    <input type="hidden" name="publisher" data-th-value="*{#strings.listJoin(publisher,',')}">
                    <input type="hidden" name="isbn" data-th-value="*{isbn}">
                    <input type="hidden" name="datetime" data-th-value="*{datetime}">
                    <input type="hidden" name="price" data-th-value="*{price}">
                    <input type="hidden" name="salePrice" data-th-value="*{salePrice}">
                    <input type="hidden" name="status" data-th-value="*{status}">
                    <input type="hidden" name="overview" data-th-value="*{contents}">
                    <input type="hidden" name="url" data-th-value="*{url}">
                    <input type="hidden" name="thumbnail" data-th-value="*{thumbnail}">
                    <button class="bookmark add">북마크 추가</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
