<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template_default">
<head>
    <title>Login page</title>
</head>
<body layout:fragment="content">
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <div th:if="${logout}">You have been logged out.</div>
    <form th:action="@{/member/login_process}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />
    </form>
</body>
</html>