body {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    min-width: 140px;
    font-size: 17px;
    font-weight: bold;
    background-color: #ffde00;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

