<style>
    /* 위의 메뉴 스타일 적용 */
    nav.header-menu {
        margin: 0;
        padding: 0;
        color: white;
    }

    nav.header-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav.header-menu li {
        float: left;
        border-right: 1px solid #bbb;
    }

    nav.header-menu li:last-child {
        float: right;
        border-right: none;
    }

    nav.header-menu li:last-child a:hover {
        font-weight: bold;
        background: #111;
        color: white;
    }

    nav.header-menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav.header-menu li a:hover {
        color: black;
        font-weight: bold;
        background-color: #ffde00;
    }
</style>
<nav class="header-menu">
    <ul>
        <li><a data-th-href="@{/}">책검색</a></li>
        <li><a data-th-href="@{/bookmark/list}">북마크</a></li>
        <li>
            <span sec:authorize="isAuthenticated()">
                <a data-th-href="@{/logout}">로그아웃</a>
            </span>
            <span sec:authorize="not isAuthenticated()">
                <a data-th-href="@{/join}">회원가입</a>
            </span>
        </li>
    </ul>
</nav>