<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template_default">
<head>
    <meta charset="UTF-8">
    <title>책검색</title>
    <style>
        .condition {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        label > span {
            font-size: 17px;
            font-weight: bold;
            width: 120px;
            display: inline-block;
        }

        div.condition div {
            padding: 0 12px;
        }

    </style>

    <script>
        var srchBook = {};
        $.extend(srchBook, {
            lastCondition : null,
            /* 책 검색 */
            find: function (page, param ) {

                /* 조회조건이 없으면 form에서 조회조건을 가져옴*/
                if( !param ){
                    param = $('#search_condition').serializeObject();
                }


                $('#list-contents').html('');
                param.page = page | 1;

                /* 검색어가 없는 경우 에러 메시지 출력 */
                if( !param.query ){

                    $.alert("검색어는 필수 입력 값입니다. 검색어를 입력하여 주세요.");
                    return false;
                }

                /* 최종 기록 저장 */
                srchBook.lastCondition = param;
                $('button.find').prop("disabled", true);
                $.post('/book/list', param, function (data) {}, 'html')
                    .done(function (data) {
                        $('#list-contents').html(data);
                    })
                    .always(function () {
                        $('button.find').prop("disabled", false);
                    })
                ;
            },
            
            /* Page 이동 */
            goPage: function (page) {
                srchBook.find(page, srchBook.lastCondition );
            },
            
            goDetail: function ( isbn ) {
                var param = {};
                param.detail = isbn;
            }

        });

        $(function () {

            /**
             * 이벤트 설정
             */
            $('button.find').click(function (e) {
                e.preventDefault();
                srchBook.find(1);
            });
        });
    </script>
</head>
<body>
<section layout:fragment="content">
    <h1>책 검색</h1>
    <form id="search_condition" method="post" onsubmit="return book.find(1);">
        <div class="condition">
            <div>
                <label data-th-for="query"><span>검색어</span></label>
                <input type="text" placeholder="find..." name="query" style="width: 200px" required>
            </div>
            <div>
                <label data-th-for="sort"><span>정렬순서</span></label>
                <select data-th-name="sort">
                    <option data-th-each="item:${T(com.leedh.garachico.enums.Sort).values()}"
                            data-th-value="${item.code}"
                            data-th-text="${item.desc}"
                    ></option>
                </select>
            </div>
            <div>
                <label data-th-for="category"><span>책구분</span></label>
                <select data-th-name="category">
                    <option data-th-each="item:${T(com.leedh.garachico.enums.Category).values()}"
                            data-th-value="${item.code}"
                            data-th-text="${item.desc}"
                    ></option>
                </select>
            </div>
            <div>
                <label data-th-for="target"><span>범위</span></label>
                <select data-th-name="target">
                    <option data-th-each=" item:${T(com.leedh.garachico.enums.Target).values()}"
                            data-th-value="${item.code}"
                            data-th-text="${item.desc}">
                    </option>
                </select>
            </div>
            <div></div>

            <div>
                <button class="find"> 테스트</button>
            </div>
        </div>
        <div id="list-contents">

        </div>
    </form>


</section>

</html>
